app0.bin.i64
app0.bin.id0
app0.bin.id1
app0.bin.nam
app0.bin.til
app1.bin.i64
c3x4_main_control/.cache/
E-Paper_ESP32_Driver_Board_Code/

otadata_verify.bin
__pycache__/
arduino_build/
bin/
build/
esp32_env/
lib/
E-Paper_ESP32_Driver_Board_Code/
